
.cb-color-green {

    color:#038a0e;
}

.rz-material-dark {

    .cb-color-green {
        color: #98fb98 !important;
    }
}

.cb-opacity-4 {
    opacity: 0.4;
}

.rz-data-grid {

    &.rz-selectable {

        .rz-data-grid-data {

            .rz-grid-table {

                tr.rz-data-row {
                    &:hover {
                        cursor : pointer;
                    }
                }
            }
        }
    }
}

.cb-grid-rows {

    .cb-item {
        align-items: center;
        display: flex;
        gap: .5rem;
        justify-content: start;
        padding: .5rem 1rem;

        .cb-item-title {
            width: 35rem;
            display: inline-block;
        }
    }

    &.cb-hover {
        .cb-item:hover {
            background-color: #f7f7f7;
            cursor: pointer;
        }
    }

    hr {
        margin: 0;
    }
}

.cb-work-item-accomplishments {

    .cb-title {

        font-weight:bold;
    }

    .cb-timestamp {
        font-style: italic;
        font-size: .8rem;
        margin: 1rem 0 .2rem;
    }

    hr {
        margin: .5rem 0;
    }
}
