.cb-summary-card {
    height: 10rem;
    width: 12rem;
    position: relative;

    &.cb-danger {
        background-color: darkred;
        color: lightblue;
    }

    &.cb-info {
        background-color: royalblue;
        color: lightblue;
    }

    &.cb-success {
        background-color: seagreen;
        color: palegreen;
    }

    &.cb-warning {
        background-color: goldenrod;
        color: lightgoldenrodyellow;
    }

    &:hover {
        opacity: 0.75;
        cursor: pointer;
    }

    .cb-title {
        font-size: .7rem;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }

    .cb-value {
        font-size: 3rem;
        display: flex;
        width: 100%;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: 2rem;
    }
}
