.cb-time-entry-status-component {
    font-size: .85rem;

    .cb-button {
        color: var(--rz-primary);
        cursor: pointer;
        font-weight: 500;
        letter-spacing: 2px;
        padding: 0 !important;
        text-transform: uppercase;

        &:hover {
            text-shadow: 0 0 4px rgba(0, 0, 0, .3);
            color: var(--rz-primary-light);
        }
    }

    .cb-label-message {

        label {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 500;
        }

        .cb-message {
            color: rgba(0, 0, 0, .35);
        }
    }
}
