.cb-grid-assembled {

    .cb-grid-header {

        .cb-grid-header-button {
            border-radius: 0;
            padding-left: .75rem;

            &.cb-align-center {
                text-align: center;
            }

            &.cb-align-left {
                text-align: left;
            }

            &.cb-align-right {
                text-align: right;
            }


            .rz-button-box {
                flex-direction: row-reverse;

                .rz-button-icon-left {
                    font-weight: 300;
                    margin: 0 .25rem;
                }
            }
        }
    }

}